# Gradle
.gradle/
/build
app/build/
**/build/

# Android Studio / IntelliJ
*.iml
.idea/

# Local config & secrets
local.properties
/local.properties

# OS / misc
.DS_Store
/captures
.externalNativeBuild
.cxx
